{% extends "base_admin.html" %}

{% block title %} {{ _('Edit Assignment') if edit else _('New Assignment') }} {% endblock title %}

{% block stylesheets_include %}
    <link rel="stylesheet"
          href="{{ url_for('base_blueprint.static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('Assignment') }}
            <small>{{ _('edit') if edit else _('new') }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin_blueprint.route_admin_home') }}">{{ _('Admin') }}</a></li>
            <li><a href="{{ url_for('admin_blueprint.assignments') }}">{{ _('Assignments') }}</a></li>
            <li class="active">{{ form.name.data if edit else _('new') }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ _('Editor') }}</h3>
                        {% if edit %}
                            <a href="#" class="btn btn-danger pull-right"
                               data-target="#modal-bootboxjs"
                               data-id=""
                               data-url="{{ url_for('.assignments_remove', name=form.name.data) }}"
                               data-title="{{ _('Remove Assignment?') }}"
                               data-message="{{ _('Do you want to remove this Assignment? This cannot be undone.') }}">
                                <i class="fa fa-trash-o"></i> {{ _('Remove') }}</a>
                        {% endif %}
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post"
                          action="{{ url_for('.assignments_edit', name=form.name.data) if edit else url_for('.assignments_new') }}">

                        {{ form.hidden_tag() }}
                        <div class="box-body">

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="name">{{ _('Name') }}</label>
                                        {{ form.name(placeholder=_('Name'), class="form-control text-lowercase") }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <!-- Date and time range -->
                                    <div class="form-group">
                                        <label>{{ _('Start Date') }}</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.start_date(class="form-control pull-right") }}
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                                <div class="col-xs-3">
                                    <!-- Date and time range -->
                                    <div class="form-group">
                                        <label>{{ ('Due Date') }}</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            {{ form.due_date(class="form-control pull-right") }}
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                {{ form.title(placeholder=_('Title'), class="form-control") }}
                            </div>

                            <div class="form-group">
                                <label for="editor">Description</label>
                                {{ form.description(placeholder=_('Description'), class="form-control") }}
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="groups">{{ _('Header') }} (Makefile)</label>
                                        {{ form.header(placeholder='CL1 = \n\nCC=nvcc\nCFLAGS= -O3 -arch=sm_35 -DCP_TABLON -DCP_CUDA \n#-L ./ -I ./ \n# -lcutil\n\n%: %.cu\n	$(CC) $(CFLAGS) $(CL1) -o $@ $<\n', class="form-control") }}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="groups">{{ _('Groups') }}</label>
                                        {{ form.classgroups(class="form-control") }}
                                    </div>

                                    <div class="form-group">
                                        <label for="groups">{{ _('Badges') }}</label>
                                        {{ form.badges(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" name="submit"
                                        class="btn btn-primary btn-success pull-right"><i
                                        class="fa fa-save"></i> {{ _('Save') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts_include %}

    <!-- CK Editor -->
    <script src="{{ url_for('base_blueprint.static', filename='assets/ckeditor/ckeditor.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('base_blueprint.static', filename='assets/select2/js/select2.js') }}"></script>
    <!-- Date Picker -->
    <script src="{{ url_for('base_blueprint.static', filename='assets/js/moment.min.js') }}"></script>
    <script src="{{ url_for('base_blueprint.static', filename='assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        $(function () {
            // Replace the <textarea id="editor"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('description', {
                extraPlugins: 'codesnippet'
            });
        })
    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
            //Date range picker with time picker
            $('#start-date').datetimepicker({autoclose: true});
            $('#due-date').datetimepicker({autoclose: true});
        })
    </script>

{% endblock %}
