{% extends "base_admin.html" %}

{% block admin_header %}

    <li class="active">{{ _('Assignments') }}</li>

{% endblock admin_header %}

{% block  admin_content %}
    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ _('All Assignments') }}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                <input type="text" name="table-search" id="table-search" class="form-control pull-right"
                                       placeholder="{{ _('Search') }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                            <tr>
                                <th>{{ _('ID') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Title') }}</th>
                                <th>{{ _('Requests') }}</th>
                                <th>{{ _('Start Date') }}</th>
                                <th>{{ _('Due Date') }}</th>
                                <th>{{ _('Groups') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for assignment in assignment_list %}
                                <tr>
                                    <td><a href="#"> #{{ assignment.id }} </a></td>
                                    <td>{{ assignment.name }}</td>
                                    <td>{{ assignment.title }}</td>
                                    <td>{{ assignment.requests | count }}</td>
                                    <td>{{ assignment.start_date }}</td>
                                    <td>{{ assignment.due_date }}</td>
                                    <td>{{ assignment.classgroups | count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}
