{% extends "base_admin.html" %}

{% block admin_header %}

    <li class="active">{{ _('Students') }}</li>

{% endblock admin_header %}

{% block  admin_content %}
    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ _('All Students') }}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                <input type="text" name="table-search" id="table-search" class="form-control pull-right"
                                       placeholder="{{ _('Search') }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                            <tr>
                                <th>{{ _('ID') }}</th>
                                <th>{{ _('Username') }}</th>
                                <th>{{ _('Email') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Group') }}</th>
                                <th>{{ _('Quota') }}</th>
                                <th>{{ _('Last Login') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in student_list %}
                                <tr>
                                    <td><a href="#"> #{{ student.id }} </a></td>
                                    <td>{{ student.username }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.classgroup.description }}</td>
                                    <td>{{ student.quota_used }} / {{ student.quota }}</td>
                                    <td>{{ student.last_login_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->

    <section class="content">


        <!-- /.row -->
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ _('Import Students') }}</h3>
                        <div class="box-tools">
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="form" role="form" method="post" action="{{ url_for('.upload_students') }}"
                              enctype="multipart/form-data">

                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="groups">{{ _('Groups') }}</label>
                                {{ form.classgroup(class="form-control") }}
                            </div>

                            <div class="form-group">
                                <label for="groups">{{ _('Students *.csv file') }}</label>
                                {{ form.file(class="form-control") }}
                            </div>

                            <div>
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                    <b class="pull-right"><i>students-example-file.csv</i></b><br/>
                                    <b>email,name</b><br/>
                                    fran.goya@pizarra.com, Fransisco Goya<br/>
                                    joaquin.sorolla@pizarra.com, Joaquín Sorolla<br/>
                                    jusepe.ribera@pizarra.com, Jusepe de Ribera
                                </p>
                            </div>


                            <div class="form-group">
                                <button type="submit" name="submit"
                                        class="btn btn-primary btn-success pull-right"><i
                                        class="fa fa-save"></i> {{ _('Save') }}</button>
                            </div>

                        </form>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-xs-6 import-result">
                <pre class="language-json"><code></code></pre>
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts_include %}
    <!--  syntax highlighter https://prismjs.com/  -->
    <script src="{{ url_for('base_blueprint.static', filename='assets/prism/prism.js') }}"></script>
    <script>

        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'post',
                    url: this.action,
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        $("div.import-result pre code").html(data);
                    },
                    error: function (xhr, desc, err) {

                    }
                });
            });
        });

    </script>
{% endblock %}