{% extends "base_admin.html" %}

{% block admin_header %}

    <li class="active">{{ _('Groups') }}</li>

{% endblock admin_header %}

{% block  admin_content %}
    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ _('All Groups') }}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                <input type="text" name="table-search" id="table-search" class="form-control pull-right"
                                       placeholder="{{ _('Search') }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                            <tr>
                                <th>{{ _('ID') }}</th>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Description') }}</th>
                                <th>{{ _('Students') }}</th>
                                <th>{{ _('Assignments') }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in classgroup_list %}
                                <tr>
                                    <td><a href="#"> #{{ group.id }} </a></td>
                                    <td>{{ group.name }}</td>
                                    <td>{{ group.description }}</td>
                                    <td>{{ group.students | count }}</td>
                                    <td>{{ group.assignments | map(attribute='name') | join(', ') }}</td>
                                    <td>
                                        <a href="#" data-target="#modal-bootboxjs"
                                           data-id=""
                                           data-url="{{ url_for('.classgroups_remove', id=group.id) }}"
                                           data-title="{{ _('Remove Group?') }}"
                                           data-message="{{ _('Are you sure you want to remove this Group? This cannot be undone.') }}">
                                            <small class="label bg-red" style="font-weight: unset"> <i
                                                    class="fa fa-fw fa-trash-o"></i> {{ _('Remove') }}</small></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}
