{% extends "base_site.html" %}

{% block title %} Account {% endblock title %}

{% block stylesheets %}
    <!-- Specific CSS goes HERE -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('Admin') }}
            <small>{{ _('configuration of Pizarra settings') }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('home_blueprint.home') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('admin_blueprint.route_admin_home') }}">{{ _('Admin') }}</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-app" href="{{ url_for('admin_blueprint.route_assignment_new') }}">
                    <i class="fa fa-edit"></i> {{ _('New Assignment') }}
                </a>
                <a class="btn btn-app" href="{{ url_for('rq_dashboard.overview') }}">
                    <i class="fa fa-tasks"></i> {{ _('Task Scheduler') }}
                </a>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts %}

{% endblock %}
