{% extends "base_site.html" %}

{% block title %} {{ _('Admin') }} {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{{ url_for('base_blueprint.static', filename='assets/css/dataTables.bootstrap.min.css') }}">

    {% block stylesheets_include %}{% endblock stylesheets_include %}

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('Admin') }}
            <small>{{ _('administration of Pizarra App') }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>{{ _('Admin') }}</li>
            {% block admin_header %}{% endblock admin_header %}
        </ol>
    </section>

    {% include '_header.html' %}

    {% block admin_content %}{% endblock admin_content %}

{% endblock content %}

{% block javascripts %}

    <script src="{{ url_for('base_blueprint.static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('base_blueprint.static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {

            // dataTables view
            let table = $('#table').DataTable({
                'paging': true,
                'lengthChange': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'sDom': 'ltipr',
                'aaSorting': [[0, 'desc']]
            });

            // datatables search on searchbox keypress
            $("#table-search").keyup(function () {
                table.search($('#table-search').val()).draw();
            });

            // reusable modals for admin view
            $('a[data-target="#modal-bootboxjs"]').click(function (event) {
                let url = $(this).data('url') + $(this).data('id');
                let title = $(this).data('title');
                let message = $(this).data('message');
                bootbox.dialog({
                    title: title,
                    message: message,
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> {{ _('Cancel') }}'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> {{ _('Confirm') }}',
                            callback: function () {
                                window.location.href = url;
                            }
                        }
                    }
                });
            });
        });
    </script>

    {% block javascripts_include %}{% endblock javascripts_include %}

{% endblock %}
