{% extends "base_site_auth.html" %}

{% block title %} {{ _('Login') }} {% endblock title %}

{% block pageclass %} login-page {% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="https://github.com/nimar3/pizarra"><b>Pizarra</b></a>
        </div>

        <!-- /.login-logo -->
        <div class="login-box-body">

            <p class="login-box-msg">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    <span>
                Use default credentials: <strong>admin / 123</strong>
                <br/>
                OR <a href={{ url_for('base_blueprint.create_user') }}>{{ _('create your own user') }}</a>
            </span>
                {% endif %}
            </p>

            <br/>
            <form method="post" action="">

                {{ form.hidden_tag() }}

                <div class="form-group has-feedback">

                    {{ form.username(placeholder=_('Username / Email'), class="form-control") }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">

                    {{ form.password(placeholder=_('Password'), class="form-control", type="password") }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> {{ _('Remember Me') }}
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-4">
                        <button type="submit" name="login" class="btn btn-primary btn-block btn-flat">
                            {{ _('Sign In') }}</button>
                    </div>
                    <!-- /.col -->
                </div>

            </form>

            <div class="text-center">
                {{ _('Not a member?') }} <a
                    href={{ url_for('base_blueprint.create_user') }} class="text-center">{{ _('Register') }}</a>
                <br/>
                <br/>
                <a href="https://github.com/nimar3/pizarra"><b>Pizarra</b></a> - coded by nimar3.
            </div>

        </div>
        <!-- /.login-box-body -->

    </div>

{% endblock content %}

{% block javascripts %}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

{% endblock %}
