{% extends "base_site_auth.html" %}

{% block title %} {{ _('Register') }} {% endblock title %}

{% block pageclass %} register-page {% endblock %}

{% block content %}

    <div class="register-box">

        <div class="register-logo">
            <a href="https://github.com/nimar3/pizarra"> <b>Pizarra</b></a>
        </div>

        <div class="register-box-body">

            {% if success %}

                <div class="text-center">

                    <span class="text-success">{{ success | safe }}</span>

                </div>

            {% else %}

                <p class="login-box-msg">
                    {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                        <span>
                    Add your credentials
                    <br/>
                    OR <a href={{ url_for('base_blueprint.login') }}>authenticate</a> using an existing account
                </span>
                    {% endif %}
                </p>

                <br/>
                <form role="form" method="post" action="">

                    {{ form.hidden_tag() }}

                    <div class="form-group has-feedback">
                        {{ form.username(placeholder=_('Username'), class="form-control") }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        {{ form.email(placeholder=_('Email'), class="form-control") }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        {{ form.password(placeholder=_('Password'), class="form-control", type="password") }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> {{ _('I agree to the') }} <a href="#">{{ _('terms') }}</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" name="register"
                                    class="btn btn-primary btn-block btn-flat">{{ _('Register') }}
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <br/>
                <div class="text-center">
                    {{ _('Have an account?') }} <a
                        href={{ url_for('base_blueprint.login') }} class="text-center">{{ _('Login') }}</a>
                    <br/>
                    <br/>
                    <a href="https://github.com/nimar3/pizarra"><b>Pizarra</b></a> - coded by nimar3.
                </div>

            {% endif %}

        </div>

    </div>

{% endblock content %}

{% block javascripts %}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

{% endblock %}
