/*
 * Component: Users List
 * ---------------------
 */
.classgroup-student-list > li {
    width: 10%;
}

.classgroup-student-list li img:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 25px #d35400;
    filter: blur(3px);
}

.classgroup-student-list li img:hover {
    color: #ffa502;
    box-shadow: 0 0 25px #d35400;
    text-shadow: 0 0 25px #d35400;
}

.classgroup-student-other img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.badge-assignment-list li {
    width: 33%;
}

.badge-assignment-list li img {
    border-radius: unset;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: unset;
}

.truncate {
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assignment-badges {
    position: relative;
    padding: 20px;
    margin: 10px 25px
}

.badge-grayscale {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

.admin-header-active-item {
    background-color: green;
    color: white;
}