{% extends "base_site.html" %}

{% block title %} Assignment {% endblock title %}

{% block stylesheets %}
    <!-- Specific CSS goes HERE -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Assignment
            <small>#{{ assignment.id }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('home_blueprint.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{{ url_for('home_blueprint.route_assignments') }}">Assignments</a></li>
            <li class="active">{{ assignment.name }}</li>
        </ol>
    </section>

    {% if assignment.expires_soon %}
        <div class="pad margin no-print">
            <div class="callout callout-danger" style="margin-bottom: 0!important;">
                <div class="row">
                    <div class="col-xs-1">
                        <h1>
                            <i class="fa fa-battery-1"></i>
                        </h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-11">
                        <h4>Note:</h4>
                        This Assignment is going to close in less than 24 hours!
                        <!-- title row -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-10">
                <h2 class="page-header">
                    <i class="fa fa-file-text-o"></i> {{ assignment.title }}
                    <small class="pull-right"><b>Due date:</b> {{ assignment.due_date }}</small>
                </h2>
            </div>
            <div class="col-xs-2 no-print">
                <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                        data-target="#modal-default"><i class="fa fa-upload"></i> Submit
                    Assignment
                </button>
            </div>
            <!-- /.col -->
        </div>

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12">
                {{ assignment.description | safe }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <a href="#" target="_blank" class="btn btn-default" onclick="window.print()"><i class="fa fa-print"></i>
                    Print</a>
                <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                        data-target="#modal-default"><i class="fa fa-upload"></i> Submit
                    Assignment
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Submit Task</h4>
                </div>
                <div class="modal-body">
                    <p>Copy the following code in your console to submit your Assignment</p>
                    <div class="row">
                        <div class="col-xs-10">
                            <p id="code"><code>curl -F 'files[]=@/path/to/fileX' -F 'files[]=@/path/to/fileY' ...
                                http://localhost/upload</code></p>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-2" onclick="copyText()">
                            <a class="btn btn-app">
                                <i class="fa fa-copy"></i> Copy
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock content %}

{% block javascripts %}

    <!-- AdminLTE for demo purposes -->
    <script src="/static/assets/js/demo.js"></script>

    <script>
        function copyText() {
            /* Get the text field */
            const copyText = document.getElementById("code");
            const textArea = document.createElement("textarea");
            textArea.value = copyText.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            textArea.setSelectionRange(0, 99999); /*For mobile devices*/
            document.execCommand("Copy");
            textArea.remove();
        }
    </script>

{% endblock %}
