{% extends "base_site.html" %}

{% block title %} {{ _('FAQ') }} {% endblock title %}

{% block stylesheets %}

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('FAQ') }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}"> {{ _('Home') }}</a>
            </li>
            <li class="active">{{ _('FAQ') }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-group" id="faqAccordion">
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question0">
                            <h4 class="panel-title">
                                <a href="#" class="ing">P: Que herramientas son necesarias para realizar un Envío?</a>
                            </h4>

                        </div>
                        <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Respuesta</span></h5>

                                <p>Para poder enviar una tener disponible la herramienta CURL y utilizar tu consola de
                                    comandos. También puedes usar otras herramientas como Postman u otras alternativas
                                    que soporten el envío de peticiones web con ficheros.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question1">
                            <h4 class="panel-title">
                                <a href="#" class="ing">P: Donde puedo ver el link para realizar un Envío?</a>
                            </h4>

                        </div>
                        <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Respuesta</span></h5>

                                <p>En la descripción de una Tarea encontrarás el botón Realizar Envío y al hacer click
                                    se abrirá un popup con el código a copiar para hacer una petición web via
                                    <i>curl</i>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question2">
                            <h4 class="panel-title">
                                <a href="#" class="ing">P: La ejecución es correcta pero la marca como inválida</a>
                            </h4>

                        </div>
                        <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Respuesta</span></h5>
                                <p>Verifica la descripción de la Tarea ya que el formato de la solución debe ser el que
                                    espera Pizarra. Además, puede que tu solución no contemple algún caso específico del
                                    problema.</p>
                                <p>Si después de varios intentos crees que el problema es otro ponte en contacto con el
                                    Administrador de Pizarra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse"
                             data-parent="#faqAccordion" data-target="#question3">
                            <h4 class="panel-title">
                                <a href="#" class="ing">P: Como me puedo unir a un equipo?</a>
                            </h4>

                        </div>
                        <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Respuesta</span></h5>

                                <p>Pide a un compañero de clase que entre a su perfil de usuario, busque la URL única y
                                    te la comparta. Una vez que navegues a esa URL con tu navegador ya formarás parte
                                    del equipo!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/panel-group-->
            </div>
        </div>

        <!-- /.row -->
    </section>


{% endblock content %}

{% block javascripts %}

{% endblock %}
