{% extends "base_site.html" %}

{% from "macros.html" import badge with context %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Home</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ current_user.requests | count }}</h3>

                        <p>Total Requests</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-upload"></i>
                    </div>
                    <a href="/account/requests" class="small-box-footer">Your Requests <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ current_user.quota_percentage_used }}<sup style="font-size: 20px">%</sup></h3>

                        <p>Quota Used</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hourglass-3"></i>
                    </div>
                    <a href="/account" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ current_user.request_percentage_passed }}<sup style="font-size: 20px">%</sup></h3>

                        <p>Success Rate</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="/account" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ current_user.assignments | count }}</h3>

                        <p>Assignments</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <a href="/assignment" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- TABLE: LATEST REQUESTS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Requests</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Assignment</th>
                                    <th>Status</th>
                                    <th>Time</th>
                                    <th>Output</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for request in current_user.requests[0:5] %}
                                    <tr>
                                        <td>{{ request.id }}</td>
                                        <td>{{ request.timestamp }}</td>
                                        <td>
                                            <a href="/assignment/{{ request.assignment.id }}">{{ request.assignment.title }}</a>
                                        </td>
                                        <td><span
                                                class="label {{ request.status.label }}">{{ request.status.name }}</span>
                                        </td>
                                        <td>{{ request.run_time }} ms</td>
                                        <td>{{ request.output }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="/account/requests" class="btn btn-sm btn-default btn-flat pull-right">View All
                            Requests</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-4">
                {{ badge(current_user.badges[0], 'Latest Badge') }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts %}

    <!-- AdminLTE for demo purposes -->
    <script src="/static/assets/js/demo.js"></script>

{% endblock %}
