{% extends "base_site.html" %}

{% from "macros/badges.html" import badge, no_badge with context %}
{% from "macros/summaries.html" import summary with context %}
{% from "macros/teams.html" import team, no_team with context %}
{% block title %} Dashboard {% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Home</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Small boxes (Stat box) -->
        <div class="row">
            {{ summary(current_user.requests | count, 'Total Requests', 'Your Requests', '/my-account/requests' ,'fa fa-upload', 'bg-aqua') }}
            {{ summary(current_user.quota_percentage_used, 'Quota Used', 'More info', '/my-account', 'fa fa-hourglass-3', 'bg-green', true) }}
            {{ summary(current_user.request_percentage_passed, 'Success Rate', 'More info', '/my-account', 'fa fa-star', 'bg-yellow', true) }}
            {{ summary(current_user.classgroup.assignments | count, 'Assignments', 'More info', '/assignment', 'fa fa-file-text-o', 'bg-red') }}
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- TABLE: LATEST REQUESTS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Requests</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Assignment</th>
                                    <th>Status</th>
                                    <th>Time</th>
                                    <th>Output</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for request in current_user.requests[0:5] %}
                                    <tr>
                                        <td>{{ request.id }}</td>
                                        <td>{{ request.timestamp }}</td>
                                        <td>
                                            <a href="/assignment/{{ request.assignment.id }}">{{ request.assignment.title }}</a>
                                        </td>
                                        <td><span
                                                class="label {{ request.status.label }}">{{ request.status.name }}</span>
                                        </td>
                                        <td>{{ request.run_time }} ms</td>
                                        <td>{{ request.output }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="/my-account/requests" class="btn btn-sm btn-default btn-flat pull-right">View All
                            Requests</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <!-- User latest badge -->
                {% if current_user.badges | count > 0 %}
                    {{ badge(current_user.badges[0], 'Latest Badge') }}
                {% else %}
                    {{ no_badge() }}
                {% endif %}

                {{ team() if current_user.team != None else no_team() }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts %}

    <!-- AdminLTE for demo purposes -->
    <script src="/static/assets/js/demo.js"></script>

{% endblock %}
