{% extends "base_site.html" %}

{% block title %} {{ _('Leaderboard') }} {% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet"
          href="{{ url_for('base_blueprint.static', filename='assets/css/dataTables.bootstrap.min.css') }}">

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('Leaderboards') }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}"> {{ _('Home') }}</a>
            </li>
            <li class="active">{{ _('Leaderboards') }}</li>
        </ol>
    </section>

    {% for leaderboard in leaderboards %}
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ leaderboard }}</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                    <input type="text" id="table-search-{{ leaderboard }}"
                                           class="form-control pull-right js-table-search"
                                           placeholder="{{ _('Search') }}">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table class="table table-hover js-table" id="table-{{ leaderboard }}">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ _('Name') }}</th>
                                    <th>{{ _('Run Time') }}</th>
                                </tr>
                                </thead>
                                <tbody style="font-size: 17px">
                                {% for entry in leaderboards[leaderboard] %}
                                    <tr {{ 'style=background-color:#00a65a4d;font-weight:bold' if current_user.id == entry.user.id else '' }} >
                                        <td>{{ loop.index }}</td>
                                        <td><img class="profile-user-img img-responsive img-circle"
                                                 style="width:40px; padding: 0; display: unset; border:1px solid #d2d6de"
                                                 src="{{ url_for('base_blueprint.static', filename=STATIC_PZ + entry.user.avatar) }}"
                                                 alt="{{ _('User Avatar') }}"> {{ entry.user.name }}</td>
                                        <td>{{ entry.run_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    {% endfor %}


{% endblock content %}

{% block javascripts %}

    <script src="{{ url_for('base_blueprint.static', filename='assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('base_blueprint.static', filename='assets/js/dataTables.bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {

            $("section").each(function (index) {

                let table = $(this).find(".js-table").DataTable({
                    'paging': true,
                    'lengthChange': false,
                    'ordering': true,
                    'info': true,
                    'autoWidth': true,
                    'sDom': 'ltipr',
                    'aaSorting': [[2, 'asc']]
                });

                // datatables search on searchbox keypress
                $(this).find(".js-table-search").keyup(function () {
                    table.search($(this).val()).draw();
                });
            });

        });
    </script>

{% endblock %}
