{% macro badge(badge, footer_message=None) %}
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">{{ badge.title }}</h3>
            <h5 class="widget-user-desc">{{ badge.subtitle }}</h5>
        </div>

        <div class="widget-user-image">
            <img class="img-circle" src="/static/assets/pizarra/img/badges/{{ badge.image }}"
                 alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <!-- /.col -->
                <div class="col-sm-12">
                    <div class="description-block">
                        <span class="description-text">{{ badge.description }}</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            {% if footer_message != None %}
            <ul class="nav nav-stacked">
                <li><span class="pull-right"><i class="fa fa-fw fa-star-o"></i> {{ footer_message }}</span></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <!-- /.widget-user -->
{% endmacro %}