{% extends "base_site.html" %}

{% block title %} {{ _('My Requests') }} {% endblock title %}

{% block stylesheets %}
    <!--  syntax highlighter https://prismjs.com/  -->
    <link rel="stylesheet" href="{{ url_for('base_blueprint.static', filename='assets/prism/prism.css') }}">
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ _('Request') }}
            <small>#{{ user_request.id }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}">{{ _('Home') }}</a>
            </li>
            <li><a href="{{ url_for('.requests') }}">{{ _('My Requests') }}</a>
            </li>
            <li class="active">#{{ user_request.id }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-11">
                <h2 class="page-header">
                    <i class="fa fa-file-text-o"></i> {{ _('Assignment') }}: <a
                        href="{{ url_for('.assignments', name=user_request.assignment.name) }}">
                    {{ user_request.assignment.name }}</a>
                    <small class="pull-right"><b>{{ _('Date') }}:</b> {{ user_request.timestamp }}</small>
                </h2>
            </div>
            <div class="col-xs-1">
                <p class="lead pull-right"><span
                        class="label {{ user_request.status.label }}">{{ user_request.status.name }}</span></p>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-7">
                <p class="lead">{{ _('Request Input') }}</p>
                {% if contents != None %}
                    <pre class="language-c line-numbers"><code>{{ contents | safe }}</code></pre>
                {% endif %}
            </div>
            <!-- /.col -->
            <div class="col-xs-5">
                <p class="lead">{{ _('Code Analysis') }}</p>
                <pre class="language-json"><code>{{ code_analysis | safe }}</code></pre>
                <p class="lead">{{ _('Output') }}
                    {% if user_request.finished_execution %}
                        <span class="label label-default pull-right" data-toggle="tooltip" data-placement="left"
                              title="{{ _('Total run time') }}"> {{ '%0.5f' | format(user_request.run_time) }} s.</span>
                    {% endif %}
                </p>
                {% if user_request.output != None %}
                    <pre class="text-muted well well-sm no-shadow"
                         style="margin-top: 10px;">{{ (user_request.output | safe) if user_request.assignment.show_output or current_user.is_admin else _('Output is unavailable for this Assignment') }}</pre>
                {% endif %}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <a onclick="window.history.back()" class="btn btn-default"><i
                        class="fa fa-angle-left"></i>
                    {{ _('Back') }}</a>
                {% if current_user.is_admin %}
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                            data-target="#modal-remove-request">
                        <i class="fa fa-trash-o"></i> {{ _('Remove') }}
                    </button>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row no-print">

        </div>
    </section>
    <!-- /.content -->

    {% if current_user.is_admin %}
        <div class="modal modal-danger fade" id="modal-remove-request">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ _('Removing Request') }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ _('Are you sure you want to remove this Request?') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left"
                                data-dismiss="modal">{{ _('Close') }}</button>
                        <a href="{{ url_for('admin_blueprint.requests_remove', id=user_request.id) }}"
                           class="btn btn-outline">
                            {{ _('Remove') }}</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    {% endif %}

{% endblock content %}

{% block javascripts %}
    <!--  syntax highlighter https://prismjs.com/  -->
    <script src="{{ url_for('base_blueprint.static', filename='assets/prism/prism.js') }}"></script>
{% endblock %}
