<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        coded by <a href="https://github.com/nimar3">nimar3</a>
    </div>
    &copy; <a href="https://github.com/nimar3/pizarra">Pizarra</a> 0.1
</footer>
