<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Pz</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Pizarra</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">{{ _('Toggle navigation') }}</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for key, value in config['SUPPORTED_LANGUAGES'].items() %}
                                    <li>
                                        <a href="{{ url_for('base_blueprint.set_language', language=key) + '?path=' + request.path }}">
                                            {{ _(value) }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ STATIC_PZ }}/{{ current_user.avatar }}" class="user-image"
                             alt="{{ _('User Image') }}">
                        <span class="hidden-xs">
                {{ current_user.username }}
              </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ STATIC_PZ }}/{{ current_user.avatar }}" class="img-circle"
                                 alt="{{ _('User Image') }}">
                            <p>
                                {{ current_user.name }}
                                <small>{{ current_user.email }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="{{ url_for('home_blueprint.route_account_requests') }}">{{ _('Requests') }}</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="{{ url_for('home_blueprint.route_assignments') }}">{{ _('Assignments') }}</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="{{ url_for('account_blueprint.route_account_home', anchor='badges') }}">{{ _('Badges') }}</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ url_for('account_blueprint.route_account_home') }}"
                                   class="btn btn-default btn-flat">{{ _('Profile') }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url_for('base_blueprint.logout') }}"
                                   class="btn btn-default btn-flat">{{ _('Sign out') }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
