<!-- Profile Resume -->
<div class="box box-primary">
    <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle"
             src="{{ url_for('base_blueprint.static', filename=STATIC_PZ + current_user.avatar) }}"
             alt="{{ _('User Avatar') }}">

        <h3 class="profile-username text-center">
            {{ current_user.username }}
        </h3>

        <p class="text-muted text-center">
            {{ current_user.email }}
        </p>

        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>{{ _('Group Members') }}</b> <a class="pull-right" href="#">
                {{ current_user.classgroup.students | count }}</a>
            </li>
            <li class="list-group-item">
                <b>{{ _('Badges') }}</b> <a class="pull-right">{{ current_user.badges | count }}</a>
            </li>
            <li class="list-group-item">
                <b>{{ _('Requests') }}</b> <a class="pull-right"
                                              href="{{ url_for('home_blueprint.requests') }}">
                {{ current_user.requests | count }}</a>
            </li>
            <li class="list-group-item">
                <b>{{ _('Points') }}</b> <a class="pull-right" href="#">
                {{ current_user.points }}</a>
            </li>
            <li class="list-group-item">
                <b>{{ _('Quota') }}</b> <a class="pull-right">{{ current_user.quota_used }}
                / {{ current_user.quota }}</a>
            </li>
        </ul>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->