{% from 'macros.html' import render_field with context %}

<!-- tab pane Password-->
<div class="tab-pane {{ 'active' if anchor == 'password' }}" id="password">
    <form class="form-horizontal"
          action="{{ url_for('account_blueprint.route_update_password') }}"
          method="post">

        {{ form.hidden_tag() }}

        {{ render_field(form.password, _('Password'), 'password') }}

        {{ render_field(form.confirm, _('Repeat Password'), 'password') }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit"
                        class="btn btn-danger">{{ _('Submit') }}</button>
            </div>
        </div>
    </form>
</div>
<!-- /.tab-pane -->