<!-- tab pane Password-->
<div class="tab-pane {{ 'active' if anchor == 'password' }}" id="password">
    <p>
        {% if errors %}
            {% for error in error %}
                <span class="text-danger">{{ error.msg | safe }}</span>
            {% endfor %}
        {% endif %}
    </p>
    <form class="form-horizontal"
          action="{{ url_for('account_blueprint.route_update_password') }}"
          method="post">

        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">{{ _('Password') }}</label>
            <div class="col-sm-10">
                {{ form.password(placeholder="Password", class="form-control", type="password") }}
            </div>
        </div>
        <div class="form-group {{ 'has-error' if 'password' in form.errors.keys() }}">
            <label for="inputSkills"
                   class="col-sm-2 control-label">{{ _('Repeat Password') }}</label>
            <div class="col-sm-10">
                {{ form.confirm(placeholder="Repeat Password", class="form-control", type="password") }}
                {{ errors(form.errors, 'password') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit"
                        class="btn btn-danger">{{ _('Submit') }}</button>
            </div>
        </div>
    </form>
</div>
<!-- /.tab-pane -->