{% from 'macros.html' import activity_registered, activity_request, activity_badge %}

<!-- tab pane Activity -->
<div class="tab-pane {{ 'active' if anchor == None or anchor == 'activity' }}" id="activity">
    <!-- The timeline -->
    <ul class="timeline timeline-inverse">

        {% for date, items in ( activity_stream.items() | sort(reverse=true)) %}
            <!-- timeline time label -->
            <li class="time-label"><span class="bg-maroon">{{ date }}</span></li>
            {% for item in items %}
                {% if item.type == 'registered' %}
                    {{ activity_registered(item.time) }}
                {% endif %}
                {% if item.type == 'request' %}
                    {{ activity_request(item.time, item.object) }}
                {% endif %}
                {% if item.type == 'badge' %}
                    {{ activity_badge(item.time, item.object) }}
                {% endif %}
            {% endfor %}
            <!-- /.timeline-label -->
        {% endfor %}

        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>
</div>
<!-- /.tab-pane -->