{% extends "base_site.html" %}

{% block title %} Account {% endblock title %}

{% block stylesheets %}
    <!-- Specific CSS goes HERE -->
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Group
            <small>where you belong to</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('account_blueprint.route_account_home') }}"><i class="fa fa-user"></i> Account</a>
            </li>
            <li><a href="{{ url_for('account_blueprint.route_account_home') }}">Profile</a></li>
            <li class="active"><a href="{{ url_for('account_blueprint.route_account_classgroup') }}">Group</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-group"></i>

                        <h3 class="box-title">{{ current_user.classgroup.description }}</h3>
                    </div>
                    <div class="box-body pad table-responsive">
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <ul class="classgroup-student-list users-list clearfix">
                                {% for student in current_user.classgroup.students %}
                                    <li class="{{ '' if student == current_user else 'classgroup-student-other' }}">
                                        <img src="{{ STATIC_PZ }}/{{ student.avatar }}" alt="User Image">
                                        <a class="users-list-name"
                                           href="#">{{ 'You!' if student == current_user else student.name }}</a>
                                        <span class="users-list-date">{{ student.username }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <div>
                            <span class="pull-right"><a target="_blank"
                                                        href="https://www.vecteezy.com/free-vector/panda">Panda Vectors by Vecteezy</a></span>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- ./row -->

    </section>
    <!-- /.content -->

{% endblock content %}

{% block javascripts %}

    <!-- AdminLTE for demo purposes -->
    <script src="/static/assets/js/demo.js"></script>

{% endblock %}
