{% macro errors(dict, key) %}
    {% if key in dict.keys() %}
        <span class="help-block">{{ '<br/>'.join(dict[key]) | safe }}</span>
    {% endif %}
{% endmacro %}

{% macro tab(name, description) %}
    <li id="profile-tabs-{{ name }}" data-url="{{ name }}"
            {{ 'class=active' if anchor == None or anchor == name }}>
        <a href="#{{ name }}" data-toggle="tab">{{ description }}</a>
    </li>
{% endmacro %}

{% macro activity_request(time,user_request) %}
    <!-- timeline item -->
    <li>
        <i class="fa fa-upload bg-orange"></i>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ time }}</span>

            <h3 class="timeline-header"><a href="
                                    {{ url_for('home_blueprint.assignments', name=user_request.assignment.name) }}">{{ _('Request') }}</a>
                {{ _('sent to') }} {{ user_request.assignment.title }}</h3>

            <div class="timeline-body">
                {{ _('You sent a Request with ID') }} <a
                    href="{{ url_for('home_blueprint.requests', id=user_request.id) }}">#{{ user_request.id }}</a>
                {{ _('for the Assignment') }} <b>{{ user_request.assignment.title }}</b>
            </div>
            <div class="timeline-footer">
                {{ _('Status for this request is') }} <span
                    class="label {{ user_request.status.label }}">{{ user_request.status.name }}</span>
            </div>
        </div>
    </li>
    <!-- END timeline item -->
{% endmacro %}

{% macro activity_registered(time) %}
    <!-- timeline item -->
    <li>
        <i class="fa fa-user bg-green"></i>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ time }}</span>

            <h3 class="timeline-header no-border"><a
                    href="#">{{ _('Registered') }}</a> {{ _('you joined Pizarra') }}
            </h3>
        </div>
    </li>
    <!-- END timeline item -->
{% endmacro %}

{% macro activity_badge(time, badge) %}
    <!-- timeline item -->
    <li>
        <i class="fa fa-trophy bg-blue"></i>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ time }}</span>

            <h3 class="timeline-header"><a href="#">{{ _('Badge') }}</a> {{ _('earned') }}</h3>

            <div class="timeline-body">{{ _('You earned the Badge') }} <b>{{ badge.title }}</b>
            </div>

            <div class="timeline-footer">
                <div class="direct-chat-msg">
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" style="border-radius: unset;"
                         src="{{ url_for('base_blueprint.static',filename=STATIC_PZ + badge.image) }}"
                         alt="{{ _('Badge Image') }}"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {{ badge.description }}
                    </div>
                    <!-- /.direct-chat-text -->
                </div>

            </div>
        </div>
    </li>
    <!-- END timeline item -->
{% endmacro %}

{% macro show_badge(badge) %}
    <div class="col-md-4">
        <!-- Widget: Badge -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header {{ badge.background_color }}">
                <h3 class="widget-user-username">{{ badge.title }}</h3>
                <h5 class="widget-user-desc">{{ badge.subtitle }}</h5>
            </div>

            <div class="widget-user-image">
                <img class="img-circle" src="{{ url_for('base_blueprint.static',filename=STATIC_PZ + badge.image) }}"
                     alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-sm-12">
                        <div class="description-block">
                            <span class="description-text">{{ badge.description }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.widget-badge -->
    </div>
    <!-- /.col -->
{% endmacro %}