{% macro assignment_label(assignment) %}
    {% if assignment.id in current_user.passed_assignments and not current_user.is_admin %}
        <small class="label label-success"><i class="fa fa-check"></i> {{ _('Passed') }}</small>
    {% elif assignment.expired %}
        <small class="label label-danger"><i class="fa fa-warning"></i> {{ _('Closed') }}</small>
    {% elif assignment.expires_soon %}
        <small class="label label-warning"><i class="fa fa-clock-o"></i> {{ _('Closes soon') }}</small>
    {% elif assignment.started %}
        <small class="label label-info"><i class="fa fa-send-o"></i> {{ _('Open') }}</small>
    {% else %}
        <small class="label label-default"><i class="fa fa-hourglass-start"></i> {{ _('Opens Soon') }}</small>
    {% endif %}
{% endmacro %}

{% macro assignment_summary(assignment) %}

    <div class="col-md-6">
        <div class="box box-widget">
            <div class="box-header with-border">
                <!-- /.user-block -->
                <div class="box-tools">
                    {{ assignment_label(assignment) }}
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <div class="user-block">
                    <img class="img-circle" src="{{ url_for('.static', filename='assets/pizarra/img/assignment.png') }}"
                         alt="{{ _('Assignment image') }}">
                    <span class="username"><a
                            href="{{ url_for('.assignments') + assignment.name }}">{{ assignment.title }}</a></span>
                    <span class="description"><b>{{ _('Due Date:') }}</b> {{ assignment.due_date }}</span>
                </div>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="truncate">{{ assignment.description | safe if assignment.description != None else _('No description available') }}
                        </div>
                        <p>...</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="lead">{{ _('Badges') }}</p>
                        {% if assignment.badges | count > 0 %}
                            <ul class="users-list clearfix badge-assignment-list">
                                {% for badge in assignment.badges %}
                                    {% if not badge.secret %}
                                        <li>
                                            <img src="{{ url_for('.static', filename='assets/pizarra/img/' + badge.image) }}"
                                                 alt="{{ _('Badge') }} - {{ badge.title }}"
                                                 data-toggle="tooltip" data-placement="bottom" title="{{ badge.title }}">
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="description"></span>
                        {% endif %}
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8">
                        <p class="lead">{{ _('Latest Requests') }}</p>
                        {% if assignment.requests | count > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ _('Date') }}</th>
                                        <th>{{ _('User') }}</th>
                                        <th>{{ _('Status') }}</th>
                                        <th>{{ _('Time') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for request in assignment.requests[:3] %}
                                        <tr>
                                            <td>{{ request.timestamp }}</td>
                                            <td>{{ request.user.username }}</td>
                                            <td><span
                                                    class="label {{ request.status.label }}">{{ request.status.name }}</span>
                                            </td>
                                            <td>{{ request.run_time }} s.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
                <div class="row no-print">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-flag-checkered"></i> {{ _('Leaderboard') }}
                        </button>
                        <a href="{{ url_for('.assignments') + assignment.name }}"
                           class="btn btn-default pull-right"><i class="fa fa-file-o"></i>
                            {{ _('Full Description') }}</a>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
{% endmacro %}