{% macro assignment_summary(assignment) %}

    <div class="col-md-6">
        <div class="box box-widget">
            <div class="box-header with-border">
                <!-- /.user-block -->
                <div class="box-tools">
                    {% if assignment.id in current_user.passed_assignments %}
                        <small class="label label-success"><i class="fa fa-check"></i> {{ _('Passed') }}</small>
                    {% endif %}
                    {% if assignment.expired %}
                        <small class="label label-danger"><i class="fa fa-warning"></i> {{ _('Closed') }}</small>
                    {% endif %}
                    {% if assignment.expires_soon %}
                        <small class="label label-warning"><i class="fa fa-clock-o"></i> {{ _('Closes soon') }}</small>
                    {% endif %}
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <div class="user-block">
                    <img class="img-circle" src="{{ STATIC_PZ }}/assignment.png" alt="Assignment image">
                    <span class="username"><a
                            href="{{ url_for('.assignments') + assignment.name }}">{{ assignment.title }}</a></span>
                    <span class="description"><b>{{ _('Due Date:') }}</b> {{ assignment.due_date }}</span>
                </div>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="truncate">{{ assignment.description | safe if assignment.description != None else _('No description available') }}
                        </div>
                        <p>...</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="lead">{{ _('Badges') }}</p>
                        {% if assignment.badges | count > 0 %}
                            <ul class="users-list clearfix badge-assignment-list">
                                {% for badge in assignment.badges %}
                                    <li>
                                        <img src="{{ STATIC_PZ }}/{{ badge.image }}" alt="Badge - {{ badge.title }}"
                                             data-toggle="tooltip" data-placement="bottom" title="{{ badge.title }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="description"><i class="fa fa-fw fa-battery-1"></i> no badges</span>
                        {% endif %}
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8">
                        <p class="lead">{{ _('Latest Requests') }}</p>
                        {% if assignment.requests | count > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ _('Date') }}</th>
                                        <th>{{ _('User') }}</th>
                                        <th>{{ _('Status') }}</th>
                                        <th>{{ _('Time') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for request in assignment.requests[:3] %}
                                        <tr>
                                            <td>{{ request.timestamp }}</td>
                                            <td>{{ request.user }}</td>
                                            <td><span
                                                    class="label {{ request.status.label }}">{{ request.status.name }}</span>
                                            </td>
                                            <td>{{ request.run_time }} s.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div>
                                <img class="pull-right" src="{{ STATIC_PZ }}/doge-tooltip.png"
                                     alt="Doge Tooltip" data-toggle="tooltip" data-placement="left"
                                     title="MUCH EMPTY!"/>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
                <div class="row no-print">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-flag-checkered"></i> {{ _('Leaderboard') }}
                        </button>
                        <a href="{{ url_for('.assignments') + assignment.name }}"
                           class="btn btn-default pull-right"><i class="fa fa-file-o"></i>
                            {{ _('Full Description') }}</a>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
{% endmacro %}