{% macro latest_requests(request_list) %}
    <!-- TABLE: LATEST REQUESTS -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ _('Your Latest Requests') }}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>{{ _('ID') }}</th>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Assignment') }}</th>
                        <th>{{ _('Status') }}</th>
                        <th>{{ _('Time') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in request_list %}
                        <tr>
                            <td>
                                <a href="{{ url_for('.requests', id=request.id) }}">#{{ request.id }}</a>
                            </td>
                            <td>{{ request.timestamp }}</td>
                            <td>
                                <a href="{{ url_for('.assignments', name=request.assignment.name) }}">{{ request.assignment.title }}</a>
                            </td>
                            <td>
                                <span class="label {{ request.status.label }}">{{ request.status.name }}</span>
                            </td>
                            <td>{{ request.run_time }} s.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="{{ url_for('.requests') }}"
               class="btn btn-sm btn-default btn-flat pull-right">{{ _('View All Requests') }}</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
{% endmacro %}